<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1"> About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium in numquam error porro doloribus quos est quisquam, ratione reprehenderit vitae veritatis dicta rerum nostrum eos dignissimos recusandae ab accusamus temporibus non necessitatibus expedita ipsum minus. Consequatur nemo dolore mollitia, exercitationem dolorem aperiam aliquam quia dicta totam, optio nesciunt eius voluptatum expedita, dolorum blanditiis aspernatur cupiditate rem. Amet praesentium vitae consectetur illo nesciunt perferendis voluptatum tenetur quo, rem tempore minima officiis, totam accusantium voluptates! Debitis ad iste eaque praesentium quia temporibus illum? Dolorum ab, quae possimus architecto mollitia adipisci sint iure similique? Vero eveniet nemo ipsam, commodi totam natus fugiat expedita consequuntur sequi quas. Neque ullam minima sit molestiae mollitia nihil minus pariatur optio in, a doloribus ratione eaque, dolor quam rerum sequi quaerat ipsa tempore? Iste alias aut a libero recusandae exercitationem laborum numquam eos optio necessitatibus ipsum quis velit ex quod natus autem quasi quam, omnis praesentium voluptate dolorem hic. Dignissimos, dolores incidunt modi nostrum voluptate qui architecto repudiandae reiciendis non error, amet aliquam iste ab voluptatem delectus eius sequi voluptas voluptatibus animi! Tempore tenetur, similique dignissimos dolore cupiditate asperiores enim velit nulla repellendus minus, perspiciatis exercitationem sunt laudantium, nemo quidem ipsam officiis pariatur nostrum deserunt ullam facere est?</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>