<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa excepturi, laboriosam quidem quasi officia fugiat sequi suscipit nostrum neque.</p>
</footer>